{% set classes = [
  'node',
  'node--type-deliverable',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}><a href="{{ url }}">{{ label }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <div class="submitted">{{ author_name }} {{ date }}</div>
  {% endif %}

  <div class="content"{{ content_attributes }}>
    {{ content|without('links', 'comments') }}
  </div>

  {% if content.comments is defined %}
    {{ content.comments }}
  {% endif %}
</article>
