{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('navigation', 'clearfix') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {% set item_classes = [] %}
      {% if item.below %}
        {% set item_classes = item_classes|merge(['dropdown']) %}
      {% endif %}
      {% if item.in_active_trail %}
        {% set item_classes = item_classes|merge(['current', 'current-menu-item']) %}
      {% endif %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
          <span class="nolink">{{ item.title }}</span>
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
      </ul>
  {% endif %}
{% endmacro %}
